<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
</head>
<body>
	<h1 align="center" style="color: green">Registrar Nuevo Producto</h1>
	
	<div class="container" align ="left">
	
	<h4 align="left">Por favor , ingrese lo datos:</h4>
	<form action="/grabarPro" id="frmregistro" method="post">
	
		<div align="left" width=75%>
		
			<table class="table">
			
				<tr>
				    <td>Código de Producto:</td>
				    <td><input type="text" name="codproducto" readonly th:field="*{codproducto}" /></td>
				</tr>
				
				
				<tr>
					<td>Nombre:</td>
					<td><input type="text" name="nomproducto" class="required"></td>
				</tr>
				
				<tr>
					
				 	<td>Categoria:</td>
					<td>								
						<select name="idcategoria"  >
						
						<option value="0">Seleccionar</option> 									
						<option th:each="c : ${lstCategorias}" th:value="${c.idcategoria}" th:text="${c.nomcategoria}"></option>
						
						</select>
								
					</td>
							
				</tr>
				
				<tr>
					<td>Precio:</td>
					<td><input type="text" name="precio" class="required"></td>
				</tr>
				
				<tr>
					<td>Stock:</td>
					<td><input type="text" name="stock" class="required"></td>
				</tr>
				
				<tr>
					<td class="d-flex">
						<button type="submit" class="btn btn-primary">Registrar</button>
						<a href ="/cargarProducto" class="btn btn-primary" >Retornar</a>
						<div th:text="${mensaje}" th:class="${cssmensaje}" role="alert"></div>
					</td>
				</tr>
			
			</table>
		
		</div>
	
	</form>
	
	</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>